<div for="loading banner" *ngIf="loading">
  <div class="progress" >
    <label>LOADING...</label>
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
  </div>
</div>
<div for = "component content" *ngIf="!loading">
  <div for="head menu">
    <ol class="breadcrumb">
      <li  class="breadcrumb-item"><a href="">APP</a></li>
      <li  class="breadcrumb-item "><a href="home">Libros</a></li>
      <li  class="breadcrumb-item active">Actas</li>
    </ol>
  </div>
  <p>
    Actas works!
  </p>
</div>
